<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/listar"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Clientes
      </a>
    </div>
    <div class="col-sm">
      <a href="/listar"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Clientes
      </a>
    </div>
    <div class="col-sm">
      <a href="/listar"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Clientes
      </a>
    </div>
    <div class="col-sm">
      <a href="/listar"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Clientes
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/intro.jpg" alt="Card image cap">
        </div>
      </div>
    </div>
</div>

