.col-2 
{
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.card-header
{
    height: 70px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
  text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }