<div class="container col-md-6">
  <br>
    <div class="card">
        <div class="card-header">
            <h3>Agregar Clientes</h3>
        </div>
        <br>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]="cliente.nombre" name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Apellido:</label>
                  <input [(ngModel)]="cliente.apellido" name="apellido" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">DNI:</label>
                    <input [(ngModel)]="cliente.dni" name="dni" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Razon Social:</label>
                  <input [(ngModel)]="cliente.razonSocial" name="razonSocial" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Email:</label>
                  <input [(ngModel)]="cliente.email" name="email" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">CUIT:</label>
                  <input [(ngModel)]="cliente.cuit" name="cuit" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Telefono:</label>
                  <input [(ngModel)]="cliente.telefono" name="telefono" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Fecha de Inicio:</label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="cliente.fechaDeInicio" name="fechaDeInicio" type="date" class="form-control"
                  style="display:inline; width:300px;">
                  
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <br>
                <button (click)="Crear(cliente)" class="btn btn-danger">Guardar</button>
                <button (click)="Volver()" class="btn btn-light" style="margin-left: 10px;">Volver</button>
            </form>
        </div>
    </div>
</div>
