<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Costo</th>
      <th scope="col">Cargo Soporte</th>
      <th scope="col">Es Especial</th>
      <th scope="col">Porcentaje Cargo</th>
      <th scope="col">IDTipo</th>
      <th scope="col">Detalle</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>Editar</td>
      <td>Borrar</td>
    </tr>

  </tbody>
</table>
