<div class="container">
    <br>
      <div class="container">
        <div class="border">
          <button (click)="Volver()" class="btn btn-light">Volver</button>
          <button  class="btn btn-md btn-outline-primary" style="margin-left: 10px;" (click)="Crear()">
   <!-- <button (click)="Crear()" class="btn btn-md btn-outline-primary" style="margin-left: 10px;">Crear</button>-->
            <i id="myicon" class="fa fa-user"></i> Nuevo</button>
        </div>
      </div>
      <br>
    <div class="card">
        <div class="card-header">
            <h3>Impuestos</h3>
        </div>
        <br>
        <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Porcentaje</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Bien</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let impuesto of impuesto" class="text-center">
                    
                    <td>{{impuesto.id}}</td>
                    <td>{{impuesto.porcentaje}}</td>
                    <td>{{impuesto.nombre}}</td>
                    <!--<td>{{impuesto.bien.id}}</td>-->
                    <td>
                        <button (click)="Editar(impuesto)" class="btn btn-warning">
                        <i id="myicon1" class="fa fa-edit"></i> Editar</button>
                        <button (click)="Delete(impuesto)" class="btn btn-warning" style="margin-left: 10px">
                        <i id="myicon2" class="fa fa-remove"></i> Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="15"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
  </div>
