<div class="container">
    <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <h2 class="text-justify">Impuestos</h2>
              </div>
              <div class="col-8"></div>
              <div class="col-2">
                <button (click)="Crear()" mat-mini-fab matTooltip="Primary" color="primary">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col-1">#</th>
                    <th scope="col-4">Porcentaje</th>
                    <th scope="col-4">Nombre</th>
                    <th scope="col-3">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let impuesto of impuesto" class="text-center">

                    <td>{{impuesto.id}}</td>
                    <td>{{impuesto.porcentaje | percent}}</td>
                    <td>{{impuesto.nombre}}</td>
                    <!--<td>{{impuesto.bien.id}}</td>-->
                    <td>
                        <button (click)="Editar(impuesto)" class="btn btn-warning">
                        <i id="myicon1" class="fa fa-edit"></i> Editar</button>
                        <button (click)="Delete(impuesto)" class="btn btn-warning" style="margin-left: 10px">
                        <i id="myicon2" class="fa fa-remove"></i> Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="15"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
  </div>
