<div class="container">
    <br>
      <div class="container">
        <button (click)="Volver()" class="btn btn-light">Volver</button>
        <button (click)="Crear()" class="btn btn-primary" style="margin-left: 10px;">Nuevo</button>
      </div>
      <br>
    <div class="card">
        <div class="card-header">
            <h3>Bienes</h3>
        </div>
        <br>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Cargo de Soporte</th>
                    <th scope="col">¿Es Especial?</th>
                    <th scope="col">Porcentaje Cargo</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ng-for="let bien of bienes" class="text-center">
                    <th scope="row">1</th>
                    <td>{{bien.id}}</td>
                    <td>{{bien.nombre}}</td>
                    <td>{{bien.costo}}</td>
                    <td>{{bien.cargoSoporte}}</td>
                    <td>{{bien.esEspecial}}</td>
                    <td>{{bien.porcentajeCarg}}</td>
                    <td>
                        <button (click)="Editar(bien)" class="btn btn-warning">Editar</button>
                        <button (click)="Delete(bien)" class="btn btn-warning" style="margin-left: 10px">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
