<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile>
<div class="container">
    <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <h2 class="text-justify">Productos</h2>
              </div>
              <div class="col-8"></div>
              <div class="col-2">
                <button (click)="Crear()" mat-mini-fab matTooltip="Primary" color="primary">+
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Garantia</th>
                    <th scope="col">Porcentaje De Garantia</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bien of bien" class="text-center">
                    <td>{{bien.id}}</td>
                    <td>{{bien.nombre}}</td>
                    <td>{{bien.costo | currency}}</td>
                    <td>{{bien.garantia}}</td>
                    <!--<td>{{bien.clientes}}</td>
                    <td>{{bien.impuestos}}</td>-->
                    <td>{{bien.porcentajeGarantia | percent}}</td>
                    <td>
                        <button (click)="Editar(bien)" class="btn btn-warning">Editar</button>
                        <button (click)="Delete(bien)" class="btn btn-warning" style="margin-left: 10px">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="15"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
  </div>
</mat-grid-tile>
<mat-grid-tile>
  <div class="container">
    <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <h2 class="text-justify">Servicios</h2>
              </div>
              <div class="col-8"></div>
              <div class="col-2">
                <button (click)="Crear()" mat-mini-fab matTooltip="Primary" color="primary">+
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Cargo de Soporte</th>
                    <th scope="col">¿Es Especial?</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bien of bien" class="text-center">
                    <td>{{bien.id}}</td>
                    <td>{{bien.nombre}}</td>
                    <td>{{bien.costo | currency}}</td>
                    <td>{{bien.cargoSoporte | currency}}</td>
                    <td>{{bien.esEspecial}}</td>
                    <td>
                        <button (click)="Editar(bien)" class="btn btn-warning">Editar</button>
                        <button (click)="Delete(bien)" class="btn btn-warning" style="margin-left: 10px">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="15"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
  </div>
</mat-grid-tile>
</mat-grid-list>
