.row
{
    background: black;
    @media screen and (max-width: 600px)
    {
      background-color: aliceblue;
    }
 }

nav
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100% !important;
}

.nav-link
{
  padding-top: 8px;
  border-left-width: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.btn-outline-light, .btn-secondary
  {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

.btn-outline-light:hover
{
  color:black !important;
  }

.btn-secondary
  {
    background-color: rgba(255, 255, 255, 0.459);
  }

button {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}


