<div class="row">
  <div class="container">
    <div class="logo">
        <app-logo></app-logo>
      </div>
    <div class="home">
        <ul class="nav justify-content">
          <li class="nav-item">
            <a class="nav-link active" href="/proyecto">HOME</a>
          </li>
        </ul>
      </div>

    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        (click)="cliente()">
          Clientes
        </a>
      </div>
      <!--<div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        (click)="servicio()">
          Servicios
        </a>

      </div>
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pedidos
        </a>

      </div>
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="/listar" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Impuestos
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Lista</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>-->

    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="usuario()">
          Usuarios
        </a>
    </div>

    <div class="boton">
      <div>
        <button type="button" class="btn btn-outline-light" style="margin-right: 20px;" (click)="login()"><!---->
              INGRESAR
        </button>
      </div>
    </div>
  </div>
</div>

