<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!--<div class="row">-->

      <div id="logo">
        <a class="nav-link active" role="button" href="/proyecto">
          <app-logo></app-logo>
        </a>
      </div>
      <div>
      <button type="button" class="btn btn-secondary dropdown-toggle" mat-button [matMenuTriggerFor]="clientes" (click)="cliente()">Clientes</button>
        <mat-menu #clientes="matMenu">
          <!--mat-menu-item [matMenuTriggerFor]="vertebrates"-->
          <button mat-menu-item (click)="cliente()">Clientes</button>
          <button mat-menu-item>Empresa</button>
        </mat-menu>

        <!--<mat-menu #vertebrates="matMenu">
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
        </mat-menu>-->

        <button type="button" class="btn btn-secondary dropdown-toggle" mat-button [matMenuTriggerFor]="Bienes">Bienes</button>
        <mat-menu #Bienes="matMenu">
          <button mat-menu-item  (click)="bien()">Producto</button>
          <button mat-menu-item >Servicio</button>
        </mat-menu>

        <button type="button" class="btn btn-secondary dropdown-toggle" mat-button [matMenuTriggerFor]="Pedidos">Pedidos</button>
        <mat-menu #Pedidos="matMenu">
          <button mat-menu-item (click)="pedido()">Pedidos</button>
          <button mat-menu-item (click)="detalle()">Detalles</button>
        </mat-menu>

        <button type="button" class="btn btn-secondary dropdown-toggle" mat-button [matMenuTriggerFor]="Impuestos">Impuestos</button>
        <mat-menu #Impuestos="matMenu">
          <button mat-menu-item (click)="impuesto()">Impuestos</button>
        </mat-menu>

        <button type="button" class="btn btn-secondary dropdown-toggle" mat-button [matMenuTriggerFor]="Usuarios">Usuarios</button>
        <mat-menu #Usuarios="matMenu">
          <button mat-menu-item (click)="usuario()">Usuarios</button>
        </mat-menu>
      </div>

        <button type="button1" class="btn btn-outline-light text-white" mat-button [matMenuTriggerFor]="Login">INGRESAR</button>
          <mat-menu #Login="matMenu">
            <button mat-menu-item (click)="login()">Entrar</button>
            <button mat-menu-item id="logout"  (click)="login()">Salir </button>
          </mat-menu>
</nav>
