.row{
    background: black
    
}
nav {
  display: flex;
  justify-content: flex-end;
}
#logo
  {
    display: flex;
    justify-content: flex-start;
  }
.nav-link{
  padding-top: 8px;
    border-left-width: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.btn-outline-light, .btn-secondary, .navbar-nav
  {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    
  }
  .btn-secondary
  {
    background-color: rgba(255, 255, 255, 0.459);
  }
.container-fluid {
  display: flex;

  align-items: center;
  text-align: center;
  }

button {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

@media (max-width: 600px)
 {
  .row
    {
      background-color: aliceblue;
    }
 }
