<div class="container">
    <br>
    <div class="container">
      <div class="border">
        <button (click)="Volver()" class="btn btn-light">Volver</button>
<button  class="btn btn-md btn-outline-primary" style="margin-left: 10px;" (click)="Crear()">
 <!-- <button (click)="Crear()" class="btn btn-md btn-outline-primary" style="margin-left: 10px;">Crear</button>-->
          <i id="myicon" class="fa fa-user"></i> Nuevo</button>
      </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h3>Clientes</h3>
        </div>
        <br>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">Email</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">CUIT</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.tipo}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.dni}}</td>
                    <!--<td>{{cliente.img}}</td>-->
                    <td>{{cliente.razonSocial}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.cuit}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.fechaDeInicio}}</td>
                    <td>
                        <button (click)="Editar(cliente)" class="btn btn-sm btn-warning">
                          <i id="myicon1" class="fa fa-edit"></i> Editar</button>
                        <button (click)="Delete(cliente)" class="btn btn-sm btn-danger">
                          <i id="myicon2" class="fa fa-remove"></i> Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva Persona</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <div class="input-group">
          <input id="nombre" name="nombre" class="form-control" ngModel>
        </div>
        <label for="apellido">Apellido</label>
        <div class="input-group">
          <input id="apellido" name="apellido" class="form-control" ngModel>
        </div>
        <label for="DNI">DNI</label>
        <div class="input-group">
          <input id="DNI" name="DNI" class="form-control" ngModel>
        </div>
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" ngModel>
        </div>
        <label for="direccion">Direccion</label>
        <div class="input-group">
          <input id="direccion" name="direccion" class="form-control" ngModel>
        </div>
        <label for="telefono">Telefono</label>
        <div class="input-group">
          <input id="telefono" name="telefono" class="form-control" ngModel>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
  </div>
</ng-template>
