<section>
  <div class="colour">
  </div>
  <div class="colour">
  </div>
  <div class="colour">
  </div>
  <div class="container">
    <div class="logo">
      <img src="assets/goLogo.svg" id="icon">
    </div>
    <div class="form">
      <form>
        <form (ngSubmit)="onLogin()" novalidate>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="nombreUsuario" id="login" class="form-control" placeholder="login" formControlName="usuario" [(ngModel)]="nombreUsuario" required/>
          </div>
            <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" placeholder="password" formControlName="password" [(ngModel)]="password" required/> <!-- -->
          </div>
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Recordar</label>
              </div>
            </div>
            <div class="col">
                    <!-- Simple link -->
              <a href="#!">Recuperar Contraseña</a>
            </div>
          </div>
            <!-- Submit button -->
          <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Ingresar</button>
        </form>
      </form>
    </div>
  </div>
</section>
