<div class="container col-md-6">
    <br>
      <div class="card">
          <div class="card-header">
              <h3>Agregar Impuesto</h3>
          </div>
          <br>
          <div class="card-body">
              <form action="">
                  <div class="form-group">
                      <label for="">Porcentaje:</label>
                      <input [(ngModel)]="impuesto.porcentaje" name="porcentaje" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]="impuesto.nombre" name="nombre" type="text" class="form-control">
                  </div>
                  <br>
                  <button (click)="Crear(impuesto)" class="btn btn-danger">Guardar</button>
                  <button (click)="Volver()" class="btn btn-light" style="margin-left: 10px;">Volver</button>
              </form>
          </div>
      </div>
  </div>
